/* ===================================================================
vX-Small devices (portrait phones, less than 576px)
=================================================================== */
@media (max-width: 575.98px) {
    .title{
        font-size: 30px;
    }
    /* Header start  */
    .header_sticky {
        padding: 7px 0 0 0;
    }
    .logo{
        width: 125px;
    }
    .custom-btn-2 {
        width: 100% !important;
        height: 42px;
        margin-top: 0px !important;
    }
    .navbar-nav li {
        margin: 3px 0;
    }
    .navbar-nav li:first-of-type{
        margin-top: 20px;
    }
    .menu ul li:last-child a {
        padding: 6px 30px !important;
    }
 /* Bannner area  */
 .banner {
    padding: 120px 0 20px 0;
    background-position: bottom;
    background-size: cover;
}
    .app-contant h1{
       font-size: 32px !important;
   }
   .app-mobail img{
    width: 80%;
   }
   .font-size-18 {
    font-size: 16px;
    }
    .app-icon a {
    width: 300px;
    }
    .custom-button {
    width: 230px;
    margin-bottom: 10px;
    }
    .tr-img-1 {
        margin-top: 10px;
    }
    /* trusted area  */

    .trusted{
        padding: 60px 0 0 0;
    }
    .trusted-single-box{
        margin-bottom: 40px;
    }
    .trusted-header {
        margin-bottom: 35px;
    }
    .awesome-app {
        margin-top: 83px;
    }
    .as-p{
        margin-top: 50px;
    }
     /*  features  */
    #features {
        margin-top: 60px;
    }
     /*  awesome-app  */

     .awesome-app-box-text{
        text-align: center;
    }
    .awesome-app-box-text h2{
       margin-top: 0;
       font-size: 18px;
    }
    .awesome-app-img {
        text-align: center;
    }
    .awesome-app-img img{
        width: 80%;
    }
    .awesome-app-content-p {
        margin: 15px 0 50px 0;
    }
    .awesome-app-box {
        margin-top: 30px;
    }
    .awesome-app-box-app1{
        margin-bottom: -25px !important;
    }
    .awesome-app-box-app{
        margin-bottom: -10px !important;
    }
    /* Row 4 Smart jackpots */
    .smart-jackpot{
        margin-top: 83px;
        text-align: center;
    }
    .smart-jackpot-left{
        padding-right: 0;
        margin-bottom: 30px;
        text-align: center;
        border: none;
       
    }
    /* row 5 awesome-app-new */
    .awesome-app-new {
        margin-top: 0;
    }
    /* Why Choose App Area start  */
    .why-choose-app {
        padding: 95px 0 40px;
    }
    .common-title h1 {
        padding: 0;
        margin-bottom: 15px;
    }
    
    .why-choose-app-single-area {
        margin-top: 15px;
    }
    /* Ultimate features App Area start  */
    .ultimate-mobail3-top{
        width: 85%;
    }
    .ultimte-single-area {
        margin-top: 15px;
    }
    .ultimate-title-space {
        margin-bottom: 45px;
    }
    .ultimate-title {
        padding: 0;
    }
    .ultimate-feature-area {
        padding: 15px 0;
    }
    .ultimate-a-sd {
        padding: 0 35px;
    }
    /* awewsome feature Area  start  */
    .custom-button-3{
        height: 40px;
    }
    .awesome-futre-area{
        padding: 80px 0 65px;
    }
    .awesome-button-box {
        margin: 30px 0 0 0;
    }
    .awesome-button-box {
        margin: 40px 0 0 0;
    }
    .card-dolor {
        font-size: 40px;
    }
    .awesome-app-box-text h2{
        margin: 8px 0 10px 0 !important;
    }
    .awesome-card-bottom {
        padding: 40px 0 20px;
    }
    /* Client Area  */
    .client{
        padding: 15px 0 80px 0;
    }
    .img-fluid {
        max-width: 90%;
    }
    .client-h1, .client-p{
        text-align: center;
    }
    .carousel-control-prev-custom, .carousel-control-next-custom {
        top: 100%;
    }
    .carousel-control-prev-custom {
        left: 58%;
    }
    .title-2-sm{
        font-size: 19px;
    }
    .client-img img{
        width: 70%;
    }
    /* Quection area  */
    
    .question {
        padding: 70px 0 40px 0;
    }
    .awesome-card-single-area {
        margin-top: 35px;
    }
     .common-p-space{
        margin-bottom: 50px;
    }
    .accordion-last-box{
        margin-bottom: 65px !important;
    }
     /* Download app  */
     .download{
        padding: 0 0 35px 0;
        text-align: center;
    }
    .download-btn-area ul li{
        margin-bottom: 10px;
    }
    .download-btn-area ul li a {
        padding: 6px 12px;
        font-size: 17px;
    }
    /* footer area  */
    .footer {
        padding: 55px 0 45px;
    }

}

/* ===================================================================
Small devices (landscape phones, less than 768px)
=================================================================== */
@media (min-width: 576px) and (max-width: 767.98px) {
    .title{
        font-size: 32px;
    }
    .custom-btn-2 {
        width: 270px;
        height: 42px;
    }
    /* Header start  */
     header {
        padding: 20px 0;
    }
    .header_sticky {
        padding: 7px 0 0 0;
    }
    .logo{
        width: 125px;
    }
    .navbar-nav li {
        margin: 3px 0;
    }
    .navbar-nav li:first-of-type{
        margin-top: 20px;
    }
    .menu ul li:last-child a {
        padding: 6px 30px !important;
    }
     /* Bannner area  */
     .banner {
        padding: 130px 0 30px 0;
        background-position: bottom;
        background-size: cover;
    }
     .app-contant h1{
        font-size: 50px !important;
    }
     /* Trustedner Area end   */
     .trusted {
        padding: 65px 0;
    }
    .trusted-header-area{
        margin-bottom: -10px;
    }
     .trusted-single-box img{
        width: 85%;
    }
    .awesome-app {
        margin-top: 102px;
    }
     .awesome-app-box-text{
        text-align: center;
    }
    .awesome-app-box-text h2{
        margin: 8px 0 10px 0 !important;
       font-size: 18px;
    }
    .awesome-app-img {
        text-align: center;
    }
    .awesome-app-img img{
        width: 80%;
    }
    .awesome-app-content-p {
        margin-bottom: 55px;
    }
    .awesome-app-box {
        margin-top: 30px;
    }
    .awesome-app-box-app1{
        margin-bottom: -25px !important;
    }
    .awesome-app-box-app{
        margin-bottom: -10px !important;
    }
     /* features */
    #features {
        margin-top: 120px;
    }
    /* Row 4 Smart jackpots */
    .smart-jackpot{
        text-align: center;
    }
    .smart-jackpot-left{
        padding-right: 0;
        margin-bottom: 20px;
        border: none;
       
    }
    /* row 5 awesome-app-new */
    .awesome-app-new {
        margin: 0 0 0 40px;
    }
    .a-sd{
        padding: 0 ;
    }
    /* Why Choose App Area start  */
    .why-choose-app {
        padding: 55px 0 55px 0;
    }
    .ultimate-title {
        padding: 0;
    }
    .ultimte-single-area {
        margin-top: 0px;
    }
    .why-choose-app-single-area {
        margin-top: 10px;
    }
    .ultimate-mobail3-top{
        width: 85%;
    }
    .ultimate-title-space {
        margin-bottom: 45px;
    }
    /* awewsome feature Area  start  */
    .custom-button-3{
        height: 40px;
    }
    .awesome-futre-area{
        padding: 95px 0 80px;
    }
    .awesome-button-box {
        margin: 40px 0 0 0;
    }
    .card-dolor {
        font-size: 40px;
    }


    .awesome-card-top {
        padding: 20px 0 15px;
    }
    /* Client Area  */
    .client{
        padding: 30px 0;
    }
    .b-img {
        max-width: 70%;
    } 
    .client-h1, .client-p{
        text-align: center;
    }
    .carousel-control-prev-custom, .carousel-control-next-custom {
        top: 95%;
    }
    .carousel-control-prev-custom {
        left: 73%;
    }
    .client-img img{
        width: 60%;
    }
    /* Quection area  */
    /* Quection  */
    .question {
        padding: 100px 0 50px 0;
    }
    .awesome-card-single-area {
        margin-top: 35px;
    }
    .common-p-space{
        margin-bottom: 35px;
    }
    .accordion-last-box{
        margin-bottom: 65px !important;
    }
     /* Download app  */
    .download-btn-area ul li a {
        padding: 7px 15px;
        font-size: 17px;
    }
    /* Download app  */
    .download {
        padding: 0 0 50px 0;
        text-align: center;
    }

    /* Footer area  */
    .footer {
        padding: 65px 0 25px;
    }
    
}

/* ===================================================================
Medium devices (tablets, less than 992px) 
=================================================================== */
@media (min-width: 768px) and (max-width: 991.98px) {
    
    .title{
        font-size: 32px;
    }
    /* header  */
    header {
        padding: 20px 0;
    }
    .navbar-nav li {
        margin: 6px 0;
    }
    /* Bannner area  */
    .banner {
        padding: 120px 0 55px 0;
        background-position: bottom;
        background-size: cover;
    }
    .trusted {
        padding: 65px 0;
    }
    .app-contant h1{
        font-size: 44px !important;
    }
    /* Trustedner Area end   */
    .awesome-app {
        margin-top: 85px;
    }
    .awesome-app-box-text{
        text-align: center;
    }
    .awesome-app-box-text h2{
       margin-top: 0px;
       font-size: 18px;
    }
    .awesome-app-img {
        text-align: center;
    }
    .awesome-app-img img{
        width: 70%;
    }
    .awesome-app-content{
        margin-top: -30px;
    }
    .awesome-app-content-p {
        margin: 28px 0 25px;
    }
    .awesome-app-box {
        margin-top: 0;
    }
    .trusted-header {
        margin-bottom: 60px;
    }
    #features {
        margin-top: 135px;
    }
    /* Row 4 Smart jackpots */
    .smart-jackpot {
        margin-top: 90px;
    }
    .smart-jackpot-left{
        padding-right: 10px;
       
    }
    .smart-jackpot-left h1{
        font-size: 25px;
    }
    .a-sd{
        padding: 0 ;
    }
    /* row 5  */
    .awesome-app-new {
        margin: 155px 0 0px;
    }
    /* Why Choose App Area start   */
    .common-title h1 {
        margin-bottom: 28px;
    }
    .why-choose-app {
        padding: 70px 0 62px;
    }
    .common-title-h1 {
        padding: 0 ;
    }
    .why-choose-app-single-area {
        margin-top: 45px;
    }
    /* Ultimate features App Area start  */
    .ultimte-single-area {
        margin-top: 35px;
    }
    .ultimate-title {
        padding: 0;
    }
    .ultimate-mobail3-top{
        width: 70%;
    }
    /* awewsome feature Area start */
    .awesome-futre-area{
        padding: 110px 0 60px;
    }
    .awesome-button-box {
        margin: 50px 0 0 0;
    }
    .aweome-app-space{
        margin: 10px 0 !important;
    }
    .awesome-app-img{
        margin: 25px 0 35px;
    }
    /* Client Area  */
    .client{
        padding: 55px 0;
    }
    .b-img {
        max-width: 85%;
    }
    .client-h1, .client-p{
        text-align: center;
    }
    .carousel-control-prev-custom, .carousel-control-next-custom {
        top: 94%;
    }
    .carousel-control-prev-custom {
        left: 78%;
    }
    .client-img img{
        width: 50%;
    }
     /* Quection  */
     .question {
        padding: 80px 0 55px 0;
    }
    /* Download app  */
    .download {
        padding: 0 0 70px 0;
        text-align: center;
    }
    .download-p {
        margin: 30px 0 60px;
    }

    /* Footer area  */
    .footer {
        padding: 68px 0 30px;
    }
    
}

/* ===================================================================
Large devices (desktops, less than 1200px)
=================================================================== */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .title{
        font-size: 35px;
    }
    /* Bannner area  */
    .app-contant h1{
        font-size: 50px !important;
    }
    /* Row 4 Smart jackpots */
    .smart-jackpot {
        margin-top: 126px;
    }
    .smart-jackpot-left{
        padding-right: 20px;
    }
    .why-choose-app {
        padding: 80px 0 110px 0;
    }
    .ultimate-feature-area {
        padding: 0;
    }
    .awesome-futre-area {
        padding: 155px 0 30px 0;
    }
    .awesome-app-new {
        margin: 150px 0 0px;
    }
    /* Client Area  */
    .carousel-control-next-custom {
        right: 7%;
    }
    .question {
        padding: 50px 0 ;
    }
    /* Download app  */
    .download {
        padding: 0 0 80px 0;
    }
}

/* ===================================================================
X-Large devices (large desktops, less than 1400px)
=================================================================== */
@media (min-width: 1200px) and (max-width: 1399.98px) {
     /* Header area  */
     .menu ul li a{
        font-size: 18px;
    }
    /* banner  */
    .b-img{
        max-width: 90%;
    }
    /* Row 4 Smart jackpots */
    .smart-jackpot-left{
        padding-right: 0;
       
    }
    /* Client Area  */
    
    
}

/* ===================================================================
XX-Large devices (larger desktops)
=================================================================== */
@media (min-width: 1400px) { 
    /* Header area  */
    .menu ul li a{
        font-size: 20px;
    }
    /* banner  */
    .b-img{
        max-width: 70% !important;
    }
    /* Why Choose App Area start   */
    .common-title-h1 {
        padding: 0 ;
    }
}

/* No media query since the xxl breakpoint has no upper bound on its width */